<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css" type="text/css">
</head>
<body>
  <h1>Anonymous Message Board</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse odio consequatur vel doloribus incidunt architecto, eligendi dolor placeat. Sed, accusamus.</p>
  <!--API Tests-->
  <div id="api-test"><h2>API Tests</h2>
    <h3>Post a Thread to Board <i>test</i></h3>
    <form action="/api/threads/test" method="POST">
      <label for="threadTest">Thread text</label>
      <input type="text" id="threadTest" name="text" required>
      <label for="threadPassword">Password</label>
      <input type="text" id="threadPassword" name="delete_password" required>
      <input type="submit">
    </form>
    <h3>Delete a Thread from Board <i>test</i></h3>
    <form action="/api/threads/test?_method=DELETE" method="POST">
      <label for="deleteThreadTestId">Thread ID</label>
      <input type="text" id="deleteThreadTestId" name="thread_id" required>
      <label for="deleteThreadTestPassword">Password</label>
      <input type="text" id="deleteThreadTestPassword" name="delete_password" required>
      <input type="submit">
    </form>
    <h3>Report a Thread on Board <i>test</i></h3>
    <form action="/api/threads/test?_method=PUT" method="POST">
      <label for="reportThreadTestId">Thread ID</label>
      <input type="text" name="thread_id" id="reportThreadTestId">
      <input type="submit" value="Submit">
    </form>
    <h3>Reply to a Thread in Board <i>test</i></h3>
    <form action="/api/replies/test" method="post">
      <label for="replyThreadTestText">Text</label>
      <input type="text" name="text" id="replyThreadTestText">
      <label for="replyThreadTestId">Thread ID</label>
      <input type="text" name="thread_id" id="replyThreadTestId">
      <label for="replyThreadTestPassword">Password</label>
      <input type="text" name="delete_password" id="replyThreadTestPassword">
      <input type="submit" value="Submit">
    </form>
    <h3>Get All Replies for a Thread in Board <i>test</i></h3>
    <form action="/api/replies/test" method="get">
      <label for="getRepliesTestThreadId">Thread ID</label>
      <input type="text" name="thread_id" id="getRepliesTestThreadId">
      <input type="submit" value="Submit">
    </form>
    <h3>Delete a Reply from a Thread in Board <i>test</i></h3>
    <form action="/api/replies/test?_method=DELETE" method="post">
      <label for="deleteReplyTestThreadId">Thread ID</label>
      <input type="text" name="thread_id" id="deleteReplyTestThreadId">
      <label for="deleteReplyTestReplyId">Reply ID</label>
      <input type="text" name="reply_id" id="deleteReplyTestReplyId">
      <label for="deleteReplyTestPassword">Password</label>
      <input type="text" name="delete_password" id="deleteReplyTestPassword">
      <input type="submit" value="Submit">
    </form>
    <h3>Report a Reply from a Thread in Board <i>test</i></h3>
    <form action="/api/replies/test?_method=PUT" method="post">
      <label for="reportReplyTestThreadId">Thread ID</label>
      <input type="text" name="thread_id" id="reportReplyTestThreadId">
      <label for="reportReplyTestReplyId">Reply ID</label>
      <input type="text" name="reply_id" id="reportReplyTestReplyId">
      <input type="submit" value="Submit">
    </form>
  </div>
  <!--Front End Example-->
  <div id="front-end">
    <h2>Front End Example</h2>
    <div id="threads-container">
      <h3>Board <i>test</i></h3>
      <div id="threads-show"></div>
    </div>
  </div>

  <script src="/public/client.js"></script>
</body>
</html>